<h2>Admin page</h2>

<div *ngIf="!selectedGenre">
    <form #genreFormIns="ngForm" (ngSubmit)="onSubmitGenre(0, name.value)" >
        <label for="name">Name for NEW genre</label>
        <div>
            <input type="text" id="genreName" name="genreName" required [(ngModel)]="genreModel.genreName" #name="ngModel">
            <div [hidden]="name.valid || name.pristine">
                Name is required
            </div>
        </div>
        <button type="submit" [disabled]="!genreFormIns.form.valid">Submit</button>
    </form>
</div>

<div *ngIf="selectedGenre">
    <form (ngSubmit)="onSubmitGenre(selectedGenre.id, name.value)" #genreFormUpd="ngForm">
        <label for="genreName">UPDATE genre WITH id {{selectedGenre.id}}</label>
        <div>
            <input type="text" id="genre" name="genre" required [(ngModel)]="selectedGenre.genreName" #name="ngModel">
            <div [hidden]="name.valid || name.pristine">
                Name is required
            </div>
        </div>
        <button (click)="genreEditChangeFalse()">Cancel</button>
        <button type="submit" [disabled]="!genreFormUpd.form.valid">Submit</button>
    </form>
</div>

<ul>
    <li *ngFor="let genre of genres" (click)="onSelect(genre);genreEditChangeTrue();">
        {{genre.id}},
        {{genre.genreName}}
        <button (click)="Delete(genre);">Delete</button>
        <br>
    </li>
</ul>

<ul>
    <li *ngFor="let product of products">
        <span>
            {{product.name}}
        </span>
        {{product.price}}
        {{product.description}}
        {{product.genreId}}
        remaining stock = {{product.stock}}
        {{product.genre.genreName}}
        <button (click)="DeleteProduct(product); ">Delete</button>
        <br>
    </li>
</ul>


<div>
    <label>Post product with name:
        <input #name />
        <input #GenreId />
    </label>
    <button (click)="AddProduct(name.value); ">Post</button>

</div>