<p>Genres</p>

<div>
    <form (ngSubmit)="onSubmit()" #genreForm="ngForm">
        <div class="form-group">
            <input type="text" id="genre" name="genre" required [(ngModel)]="genreName">
        </div>
    </form>
</div>
<div *ngIf="selectedGenre">
    <p>{{ selectedGenre.genreName | uppercase }} details</p>
    <div><span>id: </span> {{selectedGenre.id}}</div>
</div>

<ul>
    <li *ngFor="let genre of genres" (click)="onSelect(genre);genreEditChange();">
        {{genre.id}},
        {{genre.genreName}}
        <button (click)="Delete(genre);">Delete</button>
        <br>
    </li>
</ul>

<div>
    <label>Post genre with name:
        <input #name />

    </label>
    <button (click)="Add(genre.genreName); ">Post</button>
</div>

<ul>
    <li *ngFor="let product of products">
        <span>
            {{product.name}}
        </span>
        {{product.price}}
        {{product.description}}
        {{product.genreId}}
        remaining stock = {{product.stock}}
        {{product.genre.genreName}}
        <button (click)="DeleteProduct(product); ">Delete</button>
        <br>
    </li>
</ul>


<div>
    <label>Post product with name:
        <input #name />
        <input #GenreId />
    </label>
    <button (click)="AddProduct(name.value); ">Post</button>

</div>