<h2>Admin page</h2>

<div *ngIf="!selectedGenre">
    <form #genreFormIns="ngForm" (ngSubmit)="AddOrUpdateGenre(0, name.value)">
        <label for="name">Name for NEW genre</label>
        <div>
            <input type="text" name="genreName" id="genreName" required [(ngModel)]="genreModel.genreName"
                #name="ngModel">
            <div [hidden]="name.valid || name.pristine">
                Name is required
            </div>
        </div>
        <button type="submit" [disabled]="!genreFormIns.valid">Submit</button>
    </form>
</div>

<div *ngIf="selectedGenre">
    <form (ngSubmit)="AddOrUpdateGenre(selectedGenre.id, name.value)" #genreFormUpd="ngForm">
        <label for="genreName">UPDATE genre WITH id {{selectedGenre.id}}</label>
        <div>
            <input type="text" name="genre" id="genre" required [(ngModel)]="selectedGenre.genreName" #name="ngModel">
            <div [hidden]="name.valid || name.pristine">
                Name is required
            </div>
        </div>
        <button (click)="genreEditChangeFalse()">Cancel</button>
        <button type="submit" [disabled]="!genreFormUpd.valid">Submit</button>
    </form>
</div>

<ul>
    <p>En liste af vores nuværende genre</p>
    <p>Klik på en for at redigere den</p>
    <li *ngFor="let genre of genres" (click)="onSelectGenre(genre);genreEditChangeTrue();">
        Genre: {{genre.genreName}}
        <button (click)="Delete(genre);">Delete</button>
        <br>
    </li>
</ul>


<div *ngIf="!selectedProduct">
    <form (ngSubmit)="AddOrUpdateProduct(productModel)" #ProductFormIns="ngForm">
        <label for="AddProduct"> Add new product with genre</label>
        <div>
            Product Name: <input type="text" name="ProductName" id="ProductName" required
                [(ngModel)]="productModel.name" #ProductName="ngModel">
            <div [hidden]="ProductName.valid || ProductName.pristine">
                Name is required
            </div>
            <br>
            Product Price: <input type="number" name="ProductPrice" id="ProductPrice" required
                [(ngModel)]="productModel.price" #price="ngModel">
            <div [hidden]="price.valid || price.pristine">
                Price is required
            </div>
            <br>
            Product Description: <input type="text" name="ProductDescription" id="ProductDescription" required
                [(ngModel)]="productModel.description" #description="ngModel">
            <div [hidden]="description.valid || description.pristine">
                Description is required
            </div>
            <br>

            <div>
                <label for="Genre">Genres: </label>
                <select id="Genre" required [(ngModel)]="productModel.genreId" name="genre" #genre="ngModel">
                    <option *ngFor="let genre of genres" [ngValue]="genre.id">
                        {{genre.genreName}}
                    </option>
                </select>
                <div [hidden]="genre.valid || genre.pristine">
                    You need to pick a valid genre
                </div>
            </div>
            Product Stock: <input type="number" name="ProductStock" id="ProductStock" required
                [(ngModel)]="productModel.stock" #ProductStock="ngModel">
            <div [hidden]="ProductStock.valid || ProductStock.pristine">
                how much is in stock
            </div>
            <br>

        </div>
        <br>

        <button type="submit" [disabled]="!ProductFormIns.valid">Submit</button>

    </form>
</div>


<div *ngIf="selectedProduct">
    <form (ngSubmit)="AddOrUpdateProduct(selectedProduct)" #productFormUpd="ngForm">
        <label for="Update">Updating product with id: {{selectedProduct.id}}</label>
        <div>
            Product name: <input type="text" name="ProductName" id="ProductName" required
                [(ngModel)]="selectedProduct.name" #productName="ngModel">
            <div [hidden]="productName.valid || productName.pristine">
                Name is required
            </div>
        </div>

        <br>

        Product Price: <input type="number" name="ProductPrice" id="ProductPrice" required
            [(ngModel)]="selectedProduct.price" #price="ngModel">
        <div [hidden]="price.valid || price.pristine">
            Price is required
        </div>

        <br>

        Product Description: <input type="text" name="ProductDescription" id="ProductDescription" required
            [(ngModel)]="selectedProduct.description" #description="ngModel">
        <div [hidden]="description.valid || description.pristine">
            Description is required
        </div>

        <br>

        <div>
            <label for="Genre">Genres: </label>
            <select id="Genre" required [(ngModel)]="selectedProduct.genreId" name="genre" #genre="ngModel">
                <option *ngFor="let genre of genres" [ngValue]="genre.id">
                    {{genre.genreName}}
                </option>
            </select>
        </div>
        Product Stock: <input type="number" name="ProductStock" id="ProductStock" required
            [(ngModel)]="selectedProduct.stock" #ProductStock="ngModel">
        <div [hidden]="ProductStock.valid || ProductStock.pristine">
            how much is in stock
        </div>

        <br>

        <br>

        <button (click)="ProductEditFalse()"> Cancel</button>
        <button type="submit" [disabled]="!productFormUpd.valid">Submit</button>
    </form>
</div>

<ul>
    <p>En liste af vores nuværende produkter</p>
    <p>Klik på en for at redigere den</p>
    <li *ngFor="let product of products" (click)="OnSelectProduct(product);ProductEditTrue()">
        <span>
            {{product.name}},
        </span>
        {{product.price}},
        {{product.description}},
        {{product.genreId}},
        remaining stock = {{product.stock}},
        {{product.genre.genreName}}
        <button (click)="DeleteProduct(product); ">Delete</button>
        <br>
    </li>
</ul>

<div *ngIf="!selectedCustomer">
    <form (ngSubmit)="AddOrUpdateCustomer(customerModel, loginModel)" #customerFormIns="ngForm">
        <label for="Update">Updating customer with id: {{customerModel.id}}</label>
        <div>
            Customer name: <input type="text" name="customerName" id="customerName" required
                [(ngModel)]="customerModel.name" #customerName="ngModel">
            <div [hidden]="customerName.valid || customerName.pristine">
                Name is required
            </div>
        </div>
        <div>
            Address name: <input type="text" name="CustomerAddress" id="CustomerAddress" required
                [(ngModel)]="customerModel.address" #CustomerAddress="ngModel">
            <div [hidden]="CustomerAddress.valid || CustomerAddress.pristine">
                Name is required
            </div>
        </div>
        <div>
            Telephone number: <input type="number" name="CustomerTelephone" id="CustomerTelephone" required
                [(ngModel)]="customerModel.telephoneNumber" #CustomerTelephone="ngModel">
            <div [hidden]="CustomerTelephone.valid || CustomerTelephone.pristine">
                Name is required
            </div>
        </div>

        <div>
            Email: <input type="email" name="CustomerEmail" id="CustomerEmail" required
                [(ngModel)]="loginModel.email" #CustomerEmail="ngModel">
            <div [hidden]="CustomerEmail.valid || CustomerEmail.pristine">
                Your email is required
            </div>
        </div>
        <div>
            Password: <input type="string" name="CustomerPassword" id="CustomerPassword" required
                [(ngModel)]="loginModel.password" #CustomerPassword="ngModel">
            <div [hidden]="CustomerPassword.valid || CustomerPassword.pristine">
                Your telephone is required
            </div>
        </div>


        <button type="submit" [disabled]="!customerFormIns.valid">Submit</button>
    </form>
</div>

<div *ngIf="selectedCustomer">
    <form (ngSubmit)="AddOrUpdateCustomer(selectedCustomer, selectedLogin)" #customerFormUpd="ngForm">
        <label for="Update">Updating customer with id: {{selectedCustomer.id}}</label>
        <div>
            Customer name: <input type="text" name="CustomerName" id="CustomerName" required
                [(ngModel)]="selectedCustomer.name" #CustomerName="ngModel">
            <div [hidden]="CustomerName.valid || CustomerName.pristine">
                Your name is required
            </div>
        </div>
        <div>
            Address name: <input type="text" name="CustomerAddress" id="CustomerAddress" required
                [(ngModel)]="selectedCustomer.address" #CustomerAddress="ngModel">
            <div [hidden]="CustomerAddress.valid || CustomerAddress.pristine">
                Your address is required
            </div>
        </div>
        <div>
            Telephone number: <input type="number" name="CustomerTelephone" id="CustomerTelephone" required
                [(ngModel)]="selectedCustomer.telephoneNumber" #CustomerTelephone="ngModel">
            <div [hidden]="CustomerTelephone.valid || CustomerTelephone.pristine">
                Your telephone is required
            </div>
        </div>


        <div>
            Email: <input type="email" name="CustomerEmail" id="CustomerEmail" required
                [(ngModel)]="selectedLogin.email" #CustomerEmail="ngModel">
            <div [hidden]="CustomerEmail.valid || CustomerEmail.pristine">
                Your email is required
            </div>
        </div>
        <div>
            Password: <input type="string" name="CustomerPassword" id="CustomerPassword" required
                [(ngModel)]="selectedLogin.password" #CustomerPassword="ngModel">
            <div [hidden]="CustomerPassword.valid || CustomerPassword.pristine">
                Your telephone is required
            </div>
        </div>
        

        <button (click)="customerEditChangeFalse()"> Cancel</button>
        <button type="submit" [disabled]="!customerFormUpd.valid">Submit</button>
    </form>
</div>




<ul>
    <li *ngFor="let customer of customers where" (click)="onSelectCustomer(customer);customerEditChangeTrue()">
        Profil navn: {{customer.name}},
        <br>
        Din nuværende adresse: {{customer.address}},
        <br>
        Dit nuværende tfl nummer: {{customer.telephoneNumber}},
        <br>
        Din nuværende Email: {{login.email}}
        <br>
        <button (click)="DeleteCustomer(customer); ">Delete</button>
        <br>
    </li>
</ul>



<br>



<div *ngIf="!selectedLogin">
  <form #loginFormIns="ngForm" (ngSubmit)="AddOrUpdateLogin(loginModel)">
      <label for="email">Email for NEW Login</label>
      <div>
          <input type="text" name="loginEmail" id="loginEmail" required [(ngModel)]="loginModel.email"
              #email="ngModel">
          <div [hidden]="email.valid || email.pristine">
              Email is required
          </div>
      </div>
      <button type="submit" [disabled]="!loginFormIns.valid">Submit</button>
  </form>
</div>

<div *ngIf="selectedLogin">
  <form (ngSubmit)="AddOrUpdateLogin(selectedLogin)" #loginFormUpd="ngForm">
      <label for="loginEmail">UPDATE login WITH id {{selectedLogin.id}}</label>
      <div>
          <input type="text" name="loginEmail" id="loginEmail" required [(ngModel)]="selectedLogin.email" #email="ngModel">
          <div [hidden]="email.valid || email.pristine">
              Email is required
          </div>
      </div>
      <div>
        <input type="text" name="loginPassword" id="loginPassword" required [(ngModel)]="selectedLogin.password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine">
            password is required
        </div>
    </div>
      <button (click)="loginEditChangeFalse()">Cancel</button>
      <button type="submit" [disabled]="!loginFormUpd.valid">Submit</button>
  </form>
</div>

