<p>user works!
  todo: description, update button + form, order history
</p>

<div *ngIf="customer">
  {{customer.id}}
  <button (click)="AddOrder(customer.id)">AddOrder</button>
</div>

<br>

<div *ngIf="customer">
  {{customer.id}}
  Dit navn {{customer.name}}
  <br>
  Dit tlf nummer: {{customer.telephoneNumber}}
  <br>
  Addressen vi sender vores pakke til: {{customer.address}}
  <br>
  Din email: {{customer.login.email}}
  <br>
</div>


<ul>
  <li *ngFor="let order of orders">
    Dine tidligere forsendelser er sendt til: {{order.customer.address}}
    <br>
    dine vare inkludere:
    <ul>
      <li *ngFor="let orderLine of order.orderLines">
        {{orderLine.orderId}}
        <br>
        {{orderLine.price}}
      </li>
    </ul>
  </li>
</ul>