<div id="Centered">
  <div>
    <div id="Content" class="load-in" *ngIf="product != null">
      <div>
        <h1>{{product.name}}</h1>
      </div>

      <div>
        <p class="stats">{{product.genre}} | </p>
        <p class="stats">{{product.price}} </p>
      </div>

      <div class="grid-container">
        <div class="grid-item" >
          <img id="Poster" src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Typical_Tetris_Game.svg" alt="Poster">
        </div>

        <div class="grid-item" id="Blurb">
          <button >Buy</button>
          <p id="plot">
            {{product.description}}
          </p>
        </div>
      </div>
      </div>

    </div>
  </div>
